
<div style="margin-top: 10px;">
    
    <div  fxLayout="column" fxLayoutGap="10px">

        <div style="border:0.6px solid rgba(128, 128, 128, 0.418);">

            <div style="overflow-x: auto;" fxLayout="row">

                <form [formGroup]="selectColumn" fxFlex fxLayout="column" autocomplete="off" style="margin: 30px" class="form">

                    <button mat-raised-button color="warn" (click)="OnSubmit()" style="margin: auto;" >

                        <h3>Update Columns</h3>

                    </button>

                    <mat-selection-list formControlName="userType" multiple>

                        <mat-list-option #allSelected [value]="0" (click)="toggleAllSelection()">Select All</mat-list-option>
                        <mat-list-option *ngFor="let list of boolList" [value]="list.key" (click)="togglePerOne(list.key)">
                        {{list.value}}
                        </mat-list-option>

                    </mat-selection-list>
                    
                </form>
                
            </div>
    
        </div>

    </div>

</div>

