<div class="title">
  <h2 class="dept-title">
    <span>Centre for University - Industry Collaboration</span>
    <span class="dept-sub-title">Anna University, Chennai, India</span>
  </h2>
  <span
    class="icon-user"
    title="User"
    (click)="toggleDropDown()"
    (click)="$event.stopPropagation()"
  ></span>
  <div class="drop-down" (click)="$event.stopPropagation()" *ngIf="dropdown">
    <div class="user-info">
      <span class="icon-user"></span>
      <div class="user-name">
        <p>{{ user_name === "null null" ? "Name Placeholder" : user_name }}</p>
        <span>{{ email }}</span>
      </div>
    </div>
    <ul>
      <li (click)="changePassword()">
        <span class="ic pass"></span>
        <span>Change Password</span>
      </li>
      <li (click)="logoutUser()">
        <span class="ic log"></span>
        <span>Logout</span>
      </li>
    </ul>
  </div>
</div>
