@import "/src/app/shared/scss/main.scss";

:host {
  width: 100%;
}
.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.dept-title {
  display: flex;
  flex-direction: column;
  font: bold 0.875em "Lato";
  line-height: 1;

  .dept-sub-title {
    font-size: 0.65em;
    margin-top: 0.65em;
    color: #e4e4e4;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
}
.regno {
  display: flex;
  flex-direction: column;
  font: bold 0.85em "Lato";
  line-height: 1;

  .role-type {
    font-size: 0.75em;
    margin-top: 0.5em;
    align-self: flex-end;
    letter-spacing: 1px;
  }
}
.icon-user,
.ic {
  width: 1.75em;
  height: 1.75em;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("#{$svg_url}/user-menu.svg");
  filter: invert(1);
  cursor: pointer;
  display: block;
}
.drop-down {
  width: 15em;
  position: absolute;
  background-color: white;
  border: 1px solid #cecece;
  top: 2.25em;
  z-index: 5;
  right: -0.25em;
  color: black;
  user-select: none;
  box-shadow: 0 0 60px rgb(14 42 71 / 25%);

  &::after {
    content: "";
    width: 0.65em;
    height: 0.65em;
    position: absolute;
    top: -0.3em;
    right: 0.75em;
    transform: rotate(45deg);
    display: block;
    background-color: white;
  }

  .icon-user {
    background-image: url("#{$svg_url}/user-drop.svg");
    filter: unset;
  }
  .user-info {
    display: flex;
    border-bottom: 1px solid gainsboro;
    padding: 0.75em;
  }
  .user-name {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    font-weight: bold;

    p {
      font-size: 0.85em;
      line-height: 1;
      margin-bottom: 0.35em;
    }
    span {
      font-size: 0.6em;
      color: $sub_color;
      line-height: 1;
    }
  }
  ul {
    font-size: 0.75em;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.35em 1em;

      &:hover {
        background-color: #e6e6e6;
      }

      .ic {
        width: 1.25em;
        height: 1.25em;
        background-size: 1em;
        filter: unset;
        margin-right: 0.5em;

        &.log {
          background-image: url("#{$svg_url}/logout.svg");
        }
        &.pass {
          background-image: url("#{$svg_url}/password.svg");
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .regno {
    display: none;
  }
  .dept-title {
    padding-left: 0.5em;
  }
}
