@import "../../shared/scss/main.scss";

.header {
  width: 100%;
  border-bottom: 1.5px solid gainsboro;
  padding: 1em;
  .web-title {
    display: flex;
    align-items: center;
    gap: 1.75em;
    font-family: $primary_font;
    img {
      width: 75px;
    }
    .web-title-content {
      h3 {
        font-size: 1.4em;
      }
      p {
        color: $sub-color;
      }
    }
  }
}

.center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  .auth-wrap {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    box-shadow: $medium_shadow;
    padding: 1em;
    height: 60vh;
    width: 55vw;
    min-width: max(55vw, 60%);
    border-radius: 15px;
    .img {
      background-image: url("../../../assets/img/regi-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;
      button {
        margin-top: 2em;
        @extend %buttons;
        background: $sub-color;
        padding: 0.5em 1.5em;
        color: white;
        border-radius: 0.3em;
        font-size: 1.1em;
        width: 100%;
      }
    }
  }
}

@media (max-width: map-get($breakpoints,medium)) {
  .center-wrap {
    padding: 1.5em;
    .auth-wrap {
      grid-template-columns: 1fr;
      width: 100%;
      .img {
        display: none;
      }
    }
  }
}

@media (max-width: map-get($breakpoints,small)) {
  .header {
    .web-title {
      gap: 1em;
      .web-title-content {
        h3 {
          font-size: 1.2em;
        }
      }
    }
  }
  .center-wrap {
    height: calc(85% - 122.3px);
    .auth-wrap {
      form {
        padding: 0.85em;
      }
    }
  }
}
