@import "/src/app/shared/scss/main.scss";

table {
    width: 100%;
}

.btn {
    background: $primary-color;
    color: white;
    margin-top: 1em;
    &:disabled {
        background: gainsboro;
        cursor: not-allowed;
    }
}

.mat-form-field-wrapper, .mat-form-field {
    overflow-y: auto !important;
    max-height: 300px !important;
}