<div class="student-container">
  <h1 class="title">Upcoming Companies</h1>
  <mat-card *ngIf="companies?.length === 0" style="background-color: rgb(241, 192, 100);border-radius: 8px;opacity: 70%;padding: 15px; margin-bottom: 1em">
    <span>Oops! No upcoming companies found. Please check back later. Click <a href="">here</a> to learn more </span>
    <!-- <mat-icon style="vertical-align: middle;">timer</mat-icon> -->
    <div class="button-row" style="float:right; padding-bottom: 5px;">
      <!-- <button mat-button><mat-icon>cancel</mat-icon></button> -->
      <mat-icon style="vertical-align: middle;font-size: 27px;">error</mat-icon>
    </div>
  </mat-card>

  <div class="grid-layout">
    <mat-card *ngFor="let company of companies" [style]="!company.eligible_status ? 'background: #ebe9e982;' : ''" (click)="redirect(company)" class="box" style="transition: box-shadow .3s;cursor: pointer;">
      <!-- <hr *ngIf="!company.eligible_status" size="10px" color="red">
      <hr *ngIf="company.eligible_status" size="10px" color="green"> -->
      <mat-card-title style="width: 100%;">
        <div style="display: inline;" fxFlexLayout="row" fxLayoutAlign="end center">
          <h5 fxFlayoutAlign="column" fxFlex>
            {{company?.company?.name}} <br>
            <span style="font-size: 15px;color: rgb(97, 97, 97);">{{company?.roles}}</span>
          </h5>
          <img src="https://library.kissclipart.com/20181003/szw/kissclipart-free-corner-ribbon-png-clipart-logo-f2cbd51c4ca46d94.png" style="vertical-align: middle;" width="60px">
        </div>
      </mat-card-title>
      <mat-card-content>
        <div fxLayoutAlign="row wrap" fxLayoutGap="10px" class="card-content">
          <div matTooltip="Minimum CGPA Criteria" fxFlex="10%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
            <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{company?.eligibility_in_present/10}}+</span>
          </div>
          <div fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">currency_rupee</mat-icon>
            <span style="color: rgb(97, 97, 97);">{{company.ctc_for_ug}} LPA</span>
          </div>
          <div fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
            <span style="color: rgb(97, 97, 97);">Deadline: {{company?.registration_deadline.split('T')[0]}}</span>
          </div>
          <div matTooltip="Assessment date" fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">quiz</mat-icon>
            <span style="color: rgb(97, 97, 97);">Assesment: {{company?.date_time_of_test.split('T')[0]}}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          {{company?.other_information}}
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" style="margin-top: 10px;" class="tags">
          <div *ngIf="company.category.id === 1" matTooltip="Single Offer" style="background-color: rgb(250, 177, 42);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">PRODUCT</b></div>
          <div *ngIf="company.category.id === 2" matTooltip="Multiple Offer" style="background-color: rgb(63, 184, 59);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">SERVICE</b></div>
          <div *ngIf="company.employment_type.id === 1 || company.employment_type.id === 3" matTooltip="Full-Time Offer" style="background-color: rgb(94, 76, 179);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">FULL-TIME</b></div>
          <div *ngIf="company.employment_type.id === 2 || company.employment_type.id === 3" matTooltip="Internship Offer" style="background-color: rgb(45, 128, 161);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">INTERN</b></div>
          <mat-icon *ngIf="company.eligible_status" matTooltip="Your profile meets the Eligibility Criteria" style="vertical-align: middle;font-size: 30px;font-weight: bolder;color: green;margin-left: auto;">check</mat-icon>
          <mat-icon *ngIf="!company.eligible_status" matTooltip="Your profile does not meet the Eligibility Criteria" style="vertical-align: middle;font-size: 30px;font-weight: bolder;color: rgb(207, 70, 70);margin-left: auto;">close</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
