<div class="student-container">
  <h1 class="title">Apply for Company Drive</h1>

  <div fxLayout="row" fxLayoutGap="30px">

    <div fxFlex="70%">
    
      <mat-card *ngIf="company" class="box" style="width: 100%;height: 250px;margin-bottom: 20px;">
        <mat-card-title style="width: 100%;">
          <div style="display: inline;" fxFlexLayout="row" fxLayoutAlign="end center">
            <h5 fxFlayoutAlign="column" fxFlex>
              {{company?.company?.name}} <br>
              <span style="font-size: 15px;color: rgb(97, 97, 97);">{{company?.roles}}</span>
            </h5>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/363_Visa_Credit_Card_logo-512.png" style="vertical-align: middle;" width="60px">
          </div>
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <div matTooltip="Minimum CGPA Criteria" fxFlex="10%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{company?.eligibility_in_present/10}}+</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">currency_rupee</mat-icon>
              <span style="color: rgb(97, 97, 97);">{{company.ctc_for_ug}} LPA</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
              <span style="color: rgb(97, 97, 97);">Deadline: {{company?.registration_deadline.split('T')[0]}}</span>
            </div>
            <div matTooltip="Assessment date" fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">quiz</mat-icon>
              <span style="color: rgb(97, 97, 97);">Assesment: {{company?.date_time_of_test.split('T')[0]}}</span>
            </div>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <!-- <div style="overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;margin-top: 10px;">
            {{company?.other_information}}
          </div> -->
          <div fxLayout="row" fxLayoutAlign="end end">
            <div matTooltip="Single Offer" style="background-color: rgb(250, 177, 42);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">PRODUCT</b></div>
            <div matTooltip="Multiple Offer" style="background-color: rgb(63, 184, 59);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">SERVICE</b></div>
            <div matTooltip="Full-Time Offer" style="background-color: rgb(94, 76, 179);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">FULL-TIME</b></div>
            <div matTooltip="Internship Offer" style="background-color: rgb(45, 128, 161);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">INTERN</b></div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="company" class="box" style="width: 100%;height: auto;margin-bottom: 20px;">

        <h3>About Company</h3>
        <br>

        <p>
          {{company?.other_information}}
        </p>
        <br>

        <h3>Job Description</h3>
        <br>
    
        <b>What impact will you make?</b>
    
        <p>Every day, your work will make an impact that matters, while you thrive in a dynamic culture of
        inclusion, collaboration and high performance. As the undisputed leader in professional services,
        Deloitte is where you'll find unrivaled opportunities to succeed and realize your full potential.
        We are well-known for our innovative and collaborative culture, commitment to delivering
        outstanding quality service to clients and enabling our people to excel in everything they do. Our
        Valuations practice is fully integrated into the One Deloitte agenda and you will often find
        yourself working on large and exciting cross service line valuation engagements.
        Benefiting from high levels of exposure and learning from some of the experienced practitioners in the valuations and advisory field, you will expand your skills to grow as a professional in this
        domain.</p>
        <br>

        <h3>Eligbility Criteria</h3>
        <br>

        <div fxLayout="column">
          
          <span class="details-heading">Eligible Branches : 
            <span class="details" style="margin-right: 3px;" *ngFor="let course_id of company.eligible_courses_id[0].split(',')">
            {{ filterCourses(course_id) }}
            </span>
          </span>
          <span class="details-heading">Passout Year : {{company?.year_batch_eligible}}</span>
          <span class="details-heading">CGPA : {{company?.eligibility_in_present/10}}+</span>
          <span class="details-heading">Current Arrears : {{company?.current_arrears ? 'Allowed' : 'Nil'}}</span>
          <span class="details-heading">History of Arrears : {{company?.history_of_arrears ? 'Allowed' : 'Nil'}}</span>
          <span class="details-heading">Grade X Percentage : {{company?.eligibility_10}}+</span>
          <span class="details-heading">Grade XII Percentage : {{company?.eligibility_12}}+</span>
          
        </div>

        <br>

        <h3>Selection Process</h3>
        <br>

        <div fxLayout="row">

          <span *ngIf="company?.ppt_session">Pre-Placement Talk <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.aptitude_test">Aptitude Test <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.online_test">Coding Round <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.group_discussion">Group Discussion Round <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.technical_interview1">Technical Interview 1 <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.technical_interview2">Technical Interview 2 <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.technical_interview3">Technical Interview 3 <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.technical_plus_hr_interview">Technical + HR Interview <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span *ngIf="company?.hr_interview">HR Interview <mat-icon style="vertical-align: middle;font-size: 20px;">east</mat-icon></span>

          <span><b>Selected</b></span>

        </div>

        
    
      </mat-card>
    
    </div>

    <div fxFlex="30%">
    
      <mat-card *ngIf="company" style="width: 100%;height: auto;padding-bottom: 20px;">

        <h3>Eligbility Criteria</h3>
        <br>

        <div fxLayout="row">
          
          <div fxLayout="column" fxLayoutGap="10px" fxFlex="90%">
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>Passout Year</small> {{company?.year_batch_eligible}}</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{company?.eligibility_in_present/10}}+</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>Current Arrears</small> {{company?.current_arrears ? 'Allowed' : 'Nil'}}</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>History of Arrears</small> {{company?.history_of_arrears ? 'Allowed' : 'Nil'}}</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>Grade XII Percentage</small> </span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>Grade X Percentage</small> </span>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="10px" fxFlex>

            <mat-icon *ngIf="this.studentService.currentStudent.passing_out_year == company?.year_batch_eligible" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.passing_out_year == company?.year_batch_eligible)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>

            <mat-icon *ngIf="this.studentService.currentStudent.course_percentage >= company?.eligibility_in_present" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.course_percentage >= company?.eligibility_in_present)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>

            <mat-icon *ngIf="this.studentService.currentStudent.current_arrears >= company?.current_arrears" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.current_arrears >= company?.current_arrears)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>

            <mat-icon *ngIf="this.studentService.currentStudent.history_of_arrears >= company?.history_of_arrears" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.history_of_arrears >= company?.history_of_arrears)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>

            <mat-icon *ngIf="this.studentService.currentStudent.grade_12_percentage >= company?.eligibility_12" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.grade_12_percentage >= company?.eligibility_12)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>

            <mat-icon *ngIf="this.studentService.currentStudent.grade_10_percentage >= company?.eligibility_10" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon *ngIf="!(this.studentService.currentStudent.grade_10_percentage >= company?.eligibility_10)" fxFlex="30%" style="vertical-align: middle;font-size: 20px;">close</mat-icon>


          </div>

        </div>

        <br>

        <h3 *ngIf="!company?.eligible_status" style="text-align: center;color: rgb(240, 85, 85);">You are Ineligible for this Job Profile</h3>

        <div *ngIf="!applySuccess && company?.eligible_status" fxLayout="column" fxLayoutAlign="center center">
          <button style="width: 100%;margin: auto;" mat-raised-button color="primary" (click)="applyDrive()">Apply Now</button>
          <mat-spinner *ngIf="applyStatus" [diameter]="35"></mat-spinner>
        </div>

        <h4 *ngIf="applySuccess" style="text-align: center;color: rgb(43, 192, 43);">Applied For Job Succesfully</h4>
        <h4 *ngIf="applyError" style="text-align: center;color: rgb(201, 88, 60);">Error Applying to Job! Please Try again Later</h4>
        

      </mat-card>

    </div>

  </div>
  

  
</div>