<div class="student-container">
  <h1 class="title">Apply for Company Drive</h1>

  <div fxLayout="row" fxLayoutGap="30px">

    <div fxFlex="70%">
    
      <mat-card *ngIf="company" class="box" style="width: 100%;height: 250px;margin-bottom: 20px;">
        <mat-card-title style="width: 100%;">
          <div style="display: inline;" fxFlexLayout="row" fxLayoutAlign="end center">
            <h5 fxFlayoutAlign="column" fxFlex>
              {{company?.company?.name}} <br>
              <span style="font-size: 15px;color: rgb(97, 97, 97);">{{company?.roles}}</span>
            </h5>
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/363_Visa_Credit_Card_logo-512.png" style="vertical-align: middle;" width="60px">
          </div>
        </mat-card-title>
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <div matTooltip="Minimum CGPA Criteria" fxFlex="10%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{company?.eligibility_in_present}}+</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">currency_rupee</mat-icon>
              <span style="color: rgb(97, 97, 97);">{{company.ctc_for_ug}} LPA</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
              <span style="color: rgb(97, 97, 97);">Deadline: {{company?.registration_deadline.split('T')[0]}}</span>
            </div>
            <div matTooltip="Assessment date" fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">quiz</mat-icon>
              <span style="color: rgb(97, 97, 97);">Assesment: {{company?.date_time_of_test.split('T')[0]}}</span>
            </div>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <!-- <div style="overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;margin-top: 10px;">
            {{company?.other_information}}
          </div> -->
          <div fxLayout="row" fxLayoutAlign="end end">
            <div matTooltip="Single Offer" style="background-color: rgb(250, 177, 42);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">PRODUCT</b></div>
            <div matTooltip="Multiple Offer" style="background-color: rgb(63, 184, 59);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">SERVICE</b></div>
            <div matTooltip="Full-Time Offer" style="background-color: rgb(94, 76, 179);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">FULL-TIME</b></div>
            <div matTooltip="Internship Offer" style="background-color: rgb(45, 128, 161);border-radius: 7px;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">INTERN</b></div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="company" class="box" style="width: 100%;height: 300px;margin-bottom: 20px;">

        <h3>Job Description</h3>
        <br>
    
        <b>What impact will you make?</b>
    
        <p>Every day, your work will make an impact that matters, while you thrive in a dynamic culture of
        inclusion, collaboration and high performance. As the undisputed leader in professional services,
        Deloitte is where you'll find unrivaled opportunities to succeed and realize your full potential.
        We are well-known for our innovative and collaborative culture, commitment to delivering
        outstanding quality service to clients and enabling our people to excel in everything they do. Our
        Valuations practice is fully integrated into the One Deloitte agenda and you will often find
        yourself working on large and exciting cross service line valuation engagements.
        Benefiting from high levels of exposure and learning from some of the experienced practitioners in the valuations and advisory field, you will expand your skills to grow as a professional in this
        domain.</p>
    
      </mat-card>
    
    </div>

    <div fxFlex="30%">
    
      <mat-card *ngIf="company" style="width: 100%;height: 300px;">

        <h3>Eligbility Criteria</h3>
        <br>

        <div fxLayout="row">
          
          <div fxLayout="column" fxLayoutGap="10px" fxFlex="90%">
            <div matTooltip="Minimum CGPA Criteria" fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
              <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{company?.eligibility_in_present}}+</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">currency_rupee</mat-icon>
              <span style="color: rgb(97, 97, 97);">{{company.ctc_for_ug}} LPA</span>
            </div>
            <div fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
              <span style="color: rgb(97, 97, 97);">Deadline: {{company?.registration_deadline.split('T')[0]}}</span>
            </div>
            <div matTooltip="Assessment date" fxFlex="30%">
              <mat-icon style="vertical-align: middle;font-size: 20px;">quiz</mat-icon>
              <span style="color: rgb(97, 97, 97);">Assesment: {{company?.date_time_of_test.split('T')[0]}}</span>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="10px" fxFlex>
            <mat-icon fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
            <mat-icon fxFlex="30%" style="vertical-align: middle;font-size: 20px;">check</mat-icon>
          </div>

        </div>

        <br>

        <div>
          
          <button style="width:100px;display: flex;
          justify-content: center;" mat-raised-button color="primary">Apply Now</button>
        </div>


        

      </mat-card>

    </div>

  </div>
  

  
</div>