<div class="student-container">

    <h1>User Management</h1>

    <br>

    <div fxLayout="column" fxLayoutGap="15px">

        <div fxLayout="row" fxLayoutGap="10px">
    
            <button mat-raised-button color="primary" (click)="openDialog()">Create Admin Account</button>
            
            <button mat-raised-button color="primary" (click)="openDialog()">Create Company Account</button>
    
        </div>

        <mat-tab-group>

            <mat-tab label="Students" style="padding: 10px !important">

                <mat-form-field style="margin-top:10px ;" appearance="fill">
                    <mat-label>Registration Number</mat-label>
                    <input #regInput matInput placeholder="Registration Number" type="number">
                </mat-form-field>

                <br>

                <button class="btn" mat-raised-button (click)="changePr(regInput.valueAsNumber)">{{ btnText(regInput.valueAsNumber) }}</button>

                <app-student-table *ngIf="!!studentList" [studentList]="studentList"></app-student-table>

            </mat-tab>

            <mat-tab label="Student Placement" style="padding: 10px !important;">
                
                <app-pr-placement-status [admin]="true"></app-pr-placement-status>

            </mat-tab>

            <mat-tab label="Companies" style="padding: 10px !important;">
            
                <app-company-approval></app-company-approval>

            </mat-tab>

        </mat-tab-group>


    </div>

</div>