<div class="company-container">

  <h1 class="title">Dashboard</h1>

  <div class="grid-layout">

    <mat-card *ngFor="let drive of drives" (click)="redirect(company)" class="box" style="transition: box-shadow .3s;cursor: pointer;">

      <mat-card-title style="width: 100%;">
        <div style="display: inline;" fxFlexLayout="row" fxLayoutAlign="end center">
          <h5 fxFlayoutAlign="column" fxFlex>
            {{drive?.drive_name}} <br>
            <span style="font-size: 15px;color: rgb(97, 97, 97);">{{drive?.roles}}</span>
          </h5>
          <img src="https://library.kissclipart.com/20181003/szw/kissclipart-free-corner-ribbon-png-clipart-logo-f2cbd51c4ca46d94.png" style="vertical-align: middle;" width="60px">
        </div>
      </mat-card-title>
      <mat-card-content>
        <div fxLayoutAlign="row wrap" fxLayoutGap="10px" class="card-content">
          <div matTooltip="Minimum CGPA Criteria" fxFlex="10%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">assessment</mat-icon>
            <span style="color: rgb(97, 97, 97);"><small>CGPA</small> {{drive?.eligibility_in_present/10}}+</span>
          </div>
          <div fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">currency_rupee</mat-icon>
            <span style="color: rgb(97, 97, 97);">{{drive.ctc_for_ug}} LPA</span>
          </div>
          <div fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">today</mat-icon>
            <span style="color: rgb(97, 97, 97);">Deadline: {{drive?.registration_deadline.split('T')[0]}}</span>
          </div>
          <div matTooltip="Assessment date" fxFlex="30%" class="card-row-content">
            <mat-icon style="vertical-align: middle;font-size: 20px;">quiz</mat-icon>
            <span style="color: rgb(97, 97, 97);">Assesment: {{drive?.date_time_of_test.split('T')[0]}}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="info">
          {{drive?.other_information}}
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="end end" style="margin-top: 10px;" class="tags">
          <div *ngIf="drive.category.id === 1" matTooltip="Single Offer" style="background-color: rgb(250, 177, 42);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">PRODUCT</b></div>
          <div *ngIf="drive.category.id === 2" matTooltip="Multiple Offer" style="background-color: rgb(63, 184, 59);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">SERVICE</b></div>
          <div *ngIf="drive.employment_type.id === 1 || drive.employment_type.id === 3" matTooltip="Full-Time Offer" style="background-color: rgb(94, 76, 179);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">FULL-TIME</b></div>
          <div *ngIf="drive.employment_type.id === 2 || drive.employment_type.id === 3" matTooltip="Internship Offer" style="background-color: rgb(45, 128, 161);border-radius: 1em;padding: 3px;font-size: 10px;text-align: center;display: inline;margin: 3px;"><b style="padding: 5px;color: white;">INTERN</b></div>
          <mat-icon *ngIf="eligible_status(drive)" matTooltip="Your profile meets the Eligibility Criteria" style="vertical-align: middle;font-size: 30px;font-weight: bolder;color: green;margin-left: auto;">check</mat-icon>
          <mat-icon *ngIf="!eligible_status(drive)" matTooltip="Your profile does not meet the Eligibility Criteria" style="vertical-align: middle;font-size: 30px;font-weight: bolder;color: rgb(207, 70, 70);margin-left: auto;">close</mat-icon>
        </div> -->
      </mat-card-content>

    </mat-card>
    
  </div>

</div>


<!-- <div class="company-container" [style]="isMobileView ? 'padding-top: 60px;padding: 20px' : ''">

  <h1>Dashboard</h1>
  <br *ngIf="isTabView || isMobileView">

  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-spinner [fxShow]="isLoading" [fxHide]="!isLoading" style="margin: auto;margin-bottom: 100px;" [diameter]="70"></mat-spinner>

      <p *ngIf="driveResponse?.length === 0">Seems like you haven't Created a Drive. Please Create one <a routerLink="../campus-drive">here</a></p>
    
      <mat-expansion-panel *ngFor="let drive of driveResponse">
        <mat-expansion-panel-header [style]="isTabView ? 'height:150px' : isMobileView ? 'height: 300px' : 'height: 150px;'">
          <mat-panel-title fxFlex="100%">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
              <h3 fxFlex="100%">  {{drive.drive_name}} </h3>
              <div [fxLayout]="isTabView || isMobileView ? 'column' : 'row'">
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Role: </p>
                    <p> Posted On: </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <i style="overflow: hidden;text-overflow: ellipsis;white-space:nowrap">{{drive.roles}}</i>
                    <i>{{drive.posted_date.split('T')[0]}}</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Online test Schedule </p>
                    <p> Interview Schedule: </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <i>{{drive.date_time_of_test.split('T')[0]}} {{drive.date_time_of_test.split('T')[1].split(':')[0]}}:{{drive.date_time_of_test.split('T')[1].split(':')[1]}}</i>
                    <i>{{drive.date_time_of_interview[0].split('T')[0]}} {{drive.date_time_of_interview[0].split('T')[1].split(':')[0]}}:{{drive.date_time_of_interview[0].split('T')[1].split(':')[1]}}</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Eligible Departments </p>
                    <p> CGPA Criteria </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <div style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis;" fxFlex="99%">
                      <i *ngFor="let course of drive.eligible_courses">{{course.code}} </i>
                    </div>
                    <i>{{drive.eligibility_in_present/10}}+</i>
                  </div>
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxFlex="100%">
          <br>
          <div fxLayout="column" fxLayoutGap="5px">

            <div fxLayout="column">
              <div fxLayoutAlign="end">
                <button mat-raised-button color="primary" style="margin: 2px" (click)="getStudentDetails(drive.id, tableView)">View Registered Students</button>
                <button mat-raised-button color="success" style="margin: 2px">Download <mat-icon>download</mat-icon></button>
              </div>
              <br>
              <mat-divider></mat-divider>
            </div>

            <app-drive-update [driveResponse]="drive"></app-drive-update>

          </div>
          
        </div>
    
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <mat-divider></mat-divider>

  <div #tableView [fxHide]="!show">
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%">
    
      <ng-container matColumnDef="reg_no">
        <mat-header-cell *matHeaderCellDef> Reg No </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.reg_number}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.first_name + " " + element.last_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="grade_x">
        <mat-header-cell *matHeaderCellDef fxFlex="8%"> Grade X </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="8%"> {{element.grade_10_percentage}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="grade_xii">
        <mat-header-cell *matHeaderCellDef fxFlex="8%"> Grade XII </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="8%"> {{element.grade_12_percentage}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="history_of_arrears">
        <mat-header-cell *matHeaderCellDef fxFlex="8%"> History of Arrears </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="8%"> {{element.history_of_arrears ? "Yes":"No"}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="backlogs">
        <mat-header-cell *matHeaderCellDef fxFlex="5%"> Backlogs </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.number_of_arrears}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cgpa">
        <mat-header-cell *matHeaderCellDef fxFlex="5%"> CGPA </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="5%"> {{element.ug_course_percentage}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="resume">
        <mat-header-cell *matHeaderCellDef fxFlex="5%"> Resume Link </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="5%"> 
          <button mat-icon-button color="primary" (click)="openNewTab(element.resume_link)">
            <mat-icon class="mat-18">insert_link</mat-icon>
          </button> 
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
<div fxLayout="column" fxFlexOffSet="40px"></div> -->
