<div fxLayout="column" fxFlexOffset="40px" fxLayoutGap="20px" fxFlex class="container">

  <div fxFlex="1%"></div>

  <h1>Dashboard</h1>

  <div>
    <mat-accordion class="example-headers-align" multi>
      <mat-spinner [fxShow]="isLoading" [fxHide]="!isLoading" style="margin: auto;margin-bottom: 100px;" [diameter]="70"></mat-spinner>
      <!-- <mat-expansion-panel [fxHide]="isLoading">
        <mat-expansion-panel-header style="height: 100px;">
          <mat-panel-title fxFlex="100%">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
              <h3 fxFlex="100%"> Pienzatech Campus Drive Anna University</h3>
              <div fxLayout="row">
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="30%">
                    <p> Role: </p>
                    <p> Applied On: </p>
                  </div>
                  <div fxLayout="column" fxFlex="70%">
                    <i>SDE</i>
                    <i>19/01/2021</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Online test Schedule </p>
                    <p> Interview Schedule: </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <i>19/01/2021</i>
                    <i>19/01/2021</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Eligible Departments </p>
                    <p> CGPA Criteria </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <i>CSE, IT, MECH, AUTO...</i>
                    <i>7.5+</i>
                  </div>
                </div>
              </div>
              <p fxFlex> Role: <i> SDE </i>  </p>
              <p fxFlex="10%"> Applied On: <i> 19/01/2021 </i> </p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxFlex="100%">
          <div fxLayout="column" fxLayoutGap="5px">

            <div fxLayout="column">
              <div fxLayoutAlign="end">
                <button mat-raised-button color="primary" style="margin: 2px">View Registered Students</button>
                <button mat-raised-button color="success" style="margin: 2px">Download <mat-icon>download</mat-icon></button>
              </div>
              <br>
              <mat-divider></mat-divider>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput type="number" min="1">
            </mat-form-field>
          </div>
          
        </div>
    
      </mat-expansion-panel> -->

      <p *ngIf="driveResponse?.length === 0">Seems like you haven't Created a Drive. Please Create one <a routerLink="../campus-drive">here</a></p>
    
      <mat-expansion-panel *ngFor="let drive of driveResponse">
        <mat-expansion-panel-header style="height: 100px;">
          <mat-panel-title fxFlex="100%">
            <div fxLayout="column" fxLayoutGap="10px" fxFlex>
              <h3 fxFlex="100%">  {{drive.drive_name}} <!-- <a mat-raised-button color="success">Registration</a> --> </h3>
              <div fxLayout="row">
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="30%">
                    <p> Role: </p>
                    <p> Posted On: </p>
                  </div>
                  <div fxLayout="column" fxFlex="70%">
                    <i>{{drive.roles}}</i>
                    <i>{{drive.posted_date.split('T')[0]}}</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Online test Schedule </p>
                    <p> Interview Schedule: </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <i>{{drive.date_time_of_test.split('T')[0]}} {{drive.date_time_of_test.split('T')[1].split(':')[0]}}:{{drive.date_time_of_test.split('T')[1].split(':')[1]}}</i>
                    <i>{{drive.date_time_of_interview[0].split('T')[0]}} {{drive.date_time_of_interview[0].split('T')[1].split(':')[0]}}:{{drive.date_time_of_interview[0].split('T')[1].split(':')[1]}}</i>
                  </div>
                </div>
                <div fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="50%">
                    <p> Eligible Departments </p>
                    <p> CGPA Criteria </p>
                  </div>
                  <div fxLayout="column" fxFlex="50%">
                    <div style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis;" fxFlex="99%">
                      <i *ngFor="let course of drive.eligible_courses">{{course.code}} </i>
                    </div>
                    <i>{{drive.eligibility_in_present}}</i>
                  </div>
                </div>
              </div>
              <!-- <p fxFlex> Role: <i> SDE </i>  </p>
              <p fxFlex="10%"> Applied On: <i> 19/01/2021 </i> </p> -->
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxFlex="100%">
          <div fxLayout="column" fxLayoutGap="5px">

            <div fxLayout="column">
              <div fxLayoutAlign="end">
                <button mat-raised-button color="primary" style="margin: 2px">View Registered Students</button>
                <button mat-raised-button color="success" style="margin: 2px">Download <mat-icon>download</mat-icon></button>
              </div>
              <br>
              <mat-divider></mat-divider>
            </div>

            <app-drive-update [driveResponse]="drive"></app-drive-update>

          </div>
          
        </div>
    
      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <mat-divider></mat-divider>

  <div>
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="100%">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Scheduled Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="criteria">
        <mat-header-cell *matHeaderCellDef> Eligibility Criteria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.criteria}}+ </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registered">
        <mat-header-cell *matHeaderCellDef> Registered Students </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.registered}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
<div fxLayout="column" fxFlexOffSet="40px"></div>
