<div fxLayout="column" fxFlexOffset="50px" fxLayoutGap="30px" fxFlex>

  <h1>Dashboard</h1>

  <div fxFlex="90%">
    
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlex="70%">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Scheduled Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="criteria">
        <mat-header-cell *matHeaderCellDef> Eligibility Criteria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.criteria}}+ </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registered">
        <mat-header-cell *matHeaderCellDef> Registered Students </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.registered}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

  <div fxFill>
  </div>
</div>
