<div class="company-container">
  <div class="btn-container">
    <h3 class="title">Company Details</h3>
    <button class="edit" (click)="onEdit()"><i class="fas fa-edit"></i></button>
    <button (click)="onEdit()">Edit Company Details</button>
  </div>
  <div class="grid c-2">
    <div class="box">
      <div class="img-container">
        <!-- <img [src]="photographLink" alt="Profile" class="img" /> -->
        <div class="header-content">
          <h3>{{ company.name }}</h3>
          <p></p>
        </div>
      </div>
      <div class="additional-details">
        <div class="details">
          <i class="far fa-envelope"></i>
          <p>{{ company.email }}</p>
        </div>
        <div class="details">
          <i class="fas fa-mobile-alt"></i>
          <p>+91 {{ company.phone }}</p>
        </div>
      </div>

      <div class="details">
          <i class="far fa-building"></i>
          <p>{{ company.head_office_address }}</p>
        </div>
        <div class="details">
          <i class="far fa-building"></i>
          <p>{{ company.branch_office_address }}</p>
        </div>

     

    </div>
    <div class="box">
      <h3>Company Information</h3>
      <div class="additional-details">
        <div class="grid c-2 equal">

          <!-- 
          <div class="details col">
            <h3>Designation</h3>
            <p class="outline">{{ company.turn_over }}</p>
          </div>
          <div class="details col">
            <h3>About Company</h3>
            <p class="outline">{{ company.type_of_hiring }}</p>
          </div>
-->

          <div class="details col">
            <h3>Ambassador Name</h3>
            <p class="outline">{{ company.ambassador_name }}</p>
          </div>
          <div class="details col">
            <h3>Designation</h3>
            <p class="outline">{{ company.designation }}</p>
          </div>
          <div class="details col">
            <h3>About Company</h3>
            <p class="outline">{{ company.details_of_office }}</p>
          </div>
        </div>

        <div class="details col">
          <h3>Annual turn-over</h3>
          <p class="outline">{{ company.annual_turnover }}</p>
        </div>


      </div>
    </div>
  </div>
  <!-- <div class="grid c-1">
    <div class="box">
      <h3>Educational Information</h3>
      <div class="additional-details">
        <div class="grid c-2 equal">
          <div class="details col">
            <h3>SSLC School Name</h3>
            <p class="outline">Prince Matriculation Higher Secondary School</p>
          </div>
          <div class="details col">
            <h3>SSLC percentage</h3>
            <p class="outline">96.8</p>
          </div>
          <div class="details col">
            <h3>HSC Institution Name</h3>
            <p class="outline">Prince Matriculation Higher Secondary School</p>
          </div>
          <div class="details col">
            <h3>HSC Percentage</h3>
            <p class="outline">92.5</p>
          </div>
          <div class="details col">
            <h3>UG Percentage</h3>
            <p class="outline">9.9</p>
          </div>
          <div class="details col">
            <h3>Year Gap</h3>
            <p class="outline">0</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
