<div class="main">
  <div class="nav-wrapper">
    <h3>Student Portal</h3>
    <div class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
      <a routerLink="./personal-details" routerLinkActive="active">
        <i class="fas fa-user-edit"></i>
        <span>Personal Details</span>
      </a>
      <a routerLink="#" routerLinkActive="active">
        <i class="fas fa-building"></i>
        <span>Companies</span>
      </a>
    </div>
    <div class="dropup-wrap">
      <div class="dropup" *ngIf="isClicked">
        <button>Change Password</button>
        <button>Logout</button>
      </div>
      <div class="profile-wrap" (click)="onToggle()">
        <img src="../../../assets/img/back.jpg" alt="" />
        <span>Jitiendran</span>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
