<div class="main">
  <div class="nav-wrapper">
    <div class="icon-container">
      <div class="icon-wrapper">
        <img
          [src]="imgUrl + '/annauniv-logo-transparent.png'"
          alt="Anna University"
        />
        <h3>CUIC | Student</h3>
      </div>
      <div class="line"></div>
    </div>
    <div class="nav">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home"></i>
        <span>Home</span>
      </a>
      <a routerLink="./personal-details" routerLinkActive="active">
        <i class="fas fa-user-edit"></i>
        <span>Personal Details</span>
      </a>
      <a routerLink="./upcoming-companies" routerLinkActive="active">
        <i class="fas fa-building"></i>
        <span>Upcoming Companies</span>
      </a>
    </div>
    <div class="dropup-wrap">
      <div class="dropup" *ngIf="isClicked">
        <button>Change Password</button>
        <button (click)="authService.logout()">Logout</button>
      </div>
      <div class="profile-wrap" (click)="onToggle()">
        <img [src]="imgUrl + '/back.jpg'" alt="user" />
        <span>Jitiendran</span>
        <i class="fas fa-chevron-up" *ngIf="!isClicked"></i>
        <i class="fas fa-chevron-down" *ngIf="isClicked"></i>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
