.mat-stepper-horizontal{
    margin-top:8px;
}

.mat-form-field{
    margin-top: 16px;
}
.round>div{
    background-color: lightblue;
    border: 2px solid black;
    margin: 3px;
    padding: 2px;
}


  

.example-full-width {
    width: 100%;
  }


