
<div style="margin-top: 10px;">
    
    <!-- <div *ngIf="!studentList">
    
        Loading
    
    </div> -->

    <div *ngIf="!!studentList && studentList.length === 0" style="width: 100%; height: 30vh; border:dashed grey; opacity: 0.6; position: relative;">
    
        <div style="width: 100%; text-align: center; vertical-align:bottom; position: absolute; top: 50%; font-size:large">All approved</div>
    
    </div>
    
    <div *ngIf="!!studentList && studentList.length !== 0">
    
        <div style="border:0.6px solid rgba(128, 128, 128, 0.418);">
    
            <table mat-table [dataSource]="dataSource">
        
                <!-- Serial Number Column -->
                <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.serial_number}} </td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
        
                <!-- Registration No. Column -->
                <ng-container matColumnDef="reg_no">
                    <th mat-header-cell *matHeaderCellDef> Registration Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.reg_no}} </td>
                </ng-container>
        
                <!-- Checkbox Column -->
                <ng-container matColumnDef="approve">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        ({{ selectedNumber }})
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    
        <button [disabled]="approving" mat-raised-button style="width: 100%; margin: auto; background-color: rgba(143, 151, 255, 0.137);" (click)="approveStudents()"> 
        
            <div *ngIf="!approving">

                Approve

            </div>


            <div *ngIf="approving">

                <i class="fas fa-spinner fa-spin"></i>

            </div>
        
        </button>
    </div>

</div>

