@import "/src/app/shared/scss/main.scss";

table {
    width: 100%;
}

th {
    font-size: 1.02em;
}

td {
    font-size: 1em;
}

.btn {
    background: $primary-color;
    color: white;
    margin-top: 1em;
    &:disabled {
        background: gainsboro;
        cursor: not-allowed;
    }
}

.tr-mat-row:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
