/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Open Sans", sans-serif;
  box-sizing: border-box;
}
html {
  @supports (scrollbar-color: gainsboro #f1f7fc !important) {
    scrollbar-color: gainsboro #f1f7fc !important;
  }
  @supports not (scrollbar-color: gainsboro #f1f7fc !important) {
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: gainsboro !important;
    }
    &::-webkit-scrollbar-track {
      background: #f1f7fc !important;
    }
  }
}
html,
body {
  height: 100%;
}

.student-approval-details-dialog > mat-dialog-container {
  background: #e9edf2 !important;
  box-shadow: none;
  border-radius: 10px;
}