<div class="student-container">

  <mat-tab-group>
    
    <mat-tab label="Approve Profiles">
      
      <ng-template matTabContent>

        <app-pr-approval (studentListChange)="setStudentApproval($event)" [studentListInput]="tabDetails.studentApproval.studentList"></app-pr-approval>

      </ng-template>

    </mat-tab>
      
    <mat-tab label="Change Placement Status">
      
      <ng-template matTabContent>

        <app-pr-placement-status (studentListChange)="setPlacementStatus($event)" [studentListInput]="tabDetails.placementStatus.studentList"></app-pr-placement-status> 

      </ng-template>

    </mat-tab>

  </mat-tab-group>

</div>


